#about {
    padding: 1em 3em 1em;
}

#meImg{
    width: 150px;
    height: 150px;
    object-fit: cover;

    box-shadow: 2px 5px 5px -2px rgb(182, 182, 182);

    float:right;
    margin: 2rem 0 0 2rem;
}

@media (max-width:_breakpoints(tablet)) {
    #about{
        padding: 1em 2em 1em;
    }
}