#contact{
    padding: 5em 3em 1em;
    background: _palette(contactBG);

    a{
        display: inline-block;
    }
}

.icon{
    height: 2rem;
    padding: 0rem 0.5rem;
}

@media (max-width:_breakpoints(tablet)) {
    #contact{
        padding: 5em 2em 1em;
    }
}