#projects{
    padding: 5em 3em 1em;
    margin: 0rem 0 -0.5rem;
    background: _palette(projectsBG);
    
}

.waveProjects {
    path{
        fill: _palette(projectsBG);
    }
}

@media (max-width:_breakpoints(tablet)) {
    #projects{
        padding: 5em 2em 1em;
        margin: 0rem 0 -0.5rem;
    }
}