//
//Text Styles
//

h1, h2, h3, h4, a{
    font-family: _font(family);
    font-weight: 400;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1rem;
}

h4{
    font-size: .8rem;
}

a{
    font-size: 1rem;
    text-decoration: none;
    border-bottom: none;
    color:inherit;
}

.bold{
    font-weight: _font(weight-bold);
}

//
//List stuff
//

ul{
    margin: 0;
    padding: 0;
}

body{
    background: _palette(bg);
    line-height: 1.5rem;
}

//
//Misc
//

html{
    scroll-behavior: smooth;
}

//prevent highlighting image
img {
    @include no-select;
}
