#hamburgerMenu{
    display: none;
    position: fixed;
}

#hamburgerIcon{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    right: 0;
    top: 0;
    width: 3.5rem;
    aspect-ratio: 1;
    background-color: transparent;

    z-index: 100;
}

#mobileNav{
    position: fixed;
    display: flex;
    flex-direction: column;
        
    width: 30vw;
    height: 100vh;
    //Initially hide menu
    right:-30vw;
    top:0;
    padding-top: 4rem;
    background-color: _palette(navBG);

    z-index: 10;
    box-shadow: 0 5px 10px -0px _palette(shadow);
}

#mobileNav li{
    padding: .5rem 1rem;
    line-height: 2rem;
    list-style-type: none;
}

//
//Media Queries
//

@media (max-width:_breakpoints(tablet)) {
    #hamburgerMenu{
        display: block;
    }
    
};

@media (max-width:_breakpoints(mobileL)) {
    #hamburgerMenu{
        display: block;
    }
    #mobileNav{
        width: 40vw;
        right: -40vw;
    }
    .slide-in {
        transition: transform 1s !important;
        transform: translateX(-40vw) !important;
    }
    .slide-out {
        transition: transform 1s !important;
        transform: translateX(40vw) !important;
    }
};

//
//Animating slide
//

.slide-in {
    transition: transform 1s ease;
    transform: translateX(-30vw);
}

.slide-out {
    transition: transform 1s ease;
    transform: translateX(30vw);
}