#imgGallery{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

}

#singleSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px -2px _palette(shadow);
}

#singleSlide a{
    width: 50vw;
    aspect-ratio: 1.75;
    display: flex;
    position: relative;
    justify-content: center;

}

#imgGallery img{
    object-fit: cover;
    height: inherit;
    width: 100%;
}

.leftArrow{
    position: relative;
    z-index: 10;
    left:-30px;
    height: 2rem;
}

.rightArrow{
    position: relative;
    z-index: 10;
    right: -30px;
    height: 2rem;
}

//
//Switching slides
//

.slideActive{
    opacity: 1;
    transition: .5s ease-in;
}

.slideSwitch{
    opacity: .4;
    transition: 1s ease-in;
}

//
//Img Header
//

#imgTitle{
    background-color: _palette(main);
    border: 1px solid _palette(darkBorder);
    @include inner-border;

    height: 3rem;
    width: 100%;
    top: -3rem;
    position: absolute;

    h1{
        padding-left: 1rem;
        @include no-select;
    }
}

//
//Description
//

#description{
    position:absolute;
    z-index: 100;
    height: 100%;
    padding: .5rem 1rem;
    background-color: _palette(main);

    transition: opacity 0.25s;
    opacity: 0;
    &:hover{
        opacity: 0.9;
    }
}


//
//Media Queries
//

@media (max-width:_breakpoints(tablet)) {
    .leftArrow{
        left:-10px;
        height: 1.7rem;
    }
    .rightArrow{
        right: -10px;
        height: 1.7rem;
    }
    #singleSlide a{
        width: 70vw;
    }
};

@media (max-width:_breakpoints(mobileL)) {
    .leftArrow{
        height: 1.5rem;
    }
    .rightArrow{
        height: 1.5rem;
    }
    #singleSlide a{
        width: 65vw;
    }
    #imgTitle{
        h1{
            font-size: 1rem;
        }
    }
};

