.waveDiv{

    overflow: hidden;
    height: _waveHeight(laptop);
    margin-bottom: -(_waveHeight(laptop));
}

@media (max-width:_breakpoints(tablet)) {
    .waveDiv{
        height: _waveHeight(tablet);
    }
}

@media (max-width:_breakpoints(mobileL)) {
    .waveDiv{
        height: _waveHeight(mobileL);
    }
}